<!DOCTYPE html>
<html>
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}">

        <!-- Title -->
        {% if title %}
            <title>{{ title }} | STEMFIE</title>
        {% else %}
            <title>Free & Open Source Construction Set | STEMFIE</title>
        {% endif %}
  
        <!-- Favicon -->
        <link rel="icon" type="image/png" sizes="48x48" href="{{ url_for('static', filename='img/STEMFIE_favicon.svg') }}">

        {% block style %}
        {% endblock style %}
    </head>
    <body>
        <!-- Navbar-->
        <nav class="navbar navbar-light theme-color-custom fixed-top" style="height: 64px;">
            <a class="ml-1" href="{{ url_for('home') }}" style="font-weight: 600; position: absolute; left: 12px; top: 10px; z-index: 10;">
                <img src="{{ url_for('static', filename='/img/STEMFIE_Logo_Horzontal.svg') }}" height="30" class="d-inline-block pr-1" style="float:left; margin-top: 7px;" alt="STEMFIE"></img>
            </a>
            <div style="margin-left: auto; margin-right: 0;">
                <a href="{{ url_for('getting_started') }}"><button type="button" class="btn btn-outline-secondary">Getting Started</button></a>
            </div> 
        </nav>
        
        <!-- Content -->
        <div class="theme-color-custom" style="margin-top: 64px;">
            {% block content %}{% endblock content %}
        </div>

        <!-- Footer -->
        <div class="site-footer pb-5 pt-3" style="border-top: 1px solid lightgray;">
            <div class="pl-4 pr-4" style="text-align:center;">
                <!-- Copyright -->
                <p class="mb-0 text-muted" style="font-size: small;">&copy; 2023 Paulo Kiefe and Aleksander Sadowski. All rights reserved. Powered by <a href="https://www.fcviewer.com">FCViewer</a></p>    
            </div> 
        </div>

        <script src="{{ url_for('static', filename='jquery-3.5.1.slim.min.js') }}"></script>
        <script src="{{ url_for('static', filename='bootstrap.bundle.min.js') }}"></script>
        {% block scripts %}{% endblock scripts %}
    </body>
</html>