{% extends "base.html" %}



{% block content %}
<style>
    h2 {
        margin-top: 1rem;
        color: #ff7f2a;
    }

    a {
        color: black;
    }

    p {
        color: grey;
    }

    .navbar-not-scrolled {
        background-color: #ffffff52;   
    }

    .navbar-scrolled {
        background-color: #ffffff;
        border-bottom: 1px solid #eeeeee;
    }

    .btn-stemfie {
        background-color: #ff7f2a;
        color: white;

    }

    .btn-stemfie:hover {
        background-color: #fd6c0b;
        color: white;
    }

    .more-field {
        background-color: #f6f6f6;
    }

    .more-field:hover {
        background-color: lightgray;
        border-color: #ff7f2a;
        text-decoration: none;
    }

    .card-hover:hover {
        border-color: #ff7f2a;
        text-decoration: none;
    }

    .card-hover .card-body{
        background-color: white;
    }

    .card-hover:hover .card-body{
        background-color: #f5f5f5;
    }
</style>

<div class="container col-md-12">
    <!-- Hero -->
    <div class="container-fluid mb-3 hero" style="height: 60vh; border-radius: calc(.25rem - 1px); background-image: url({{url_for('static', filename='img/stemfie-parts-collection.jpg')}}); background-repeat: no-repeat; background-position: center center; background-size: cover; border: solid lightgrey 1px;">
        <div class="row" style="height: 100%;">
            <div class="col-md-6 col-lg-4 col-xl-3 p-4" style="background-color: white; border-right: solid lightgray 1px;">
                <div style="height: 100%; width: 100%">
                    <h1 class="mb-3" style="font-size: calc(1.5vw + 2rem);">Free &<br>Open Source<br>Construction<br>Blocks</h1>
                    <a class="btn-stemfie btn btn-lg" href="{{ url_for('product', id = random_product.id) }}">Explore random Block</a>
                </div>
            </div>
            <div class="col-md-6 col-lg-8 col-xl-9"></div>
        </div>
    </div>

    <!-- Collection -->
    <div class="container-fluid px-0 my-4">
        <h2>Beams</h2>
        <p>Structure your builds using these frequently used blocks.</p>
        <div class="row row-cols-1 row-cols-md-3 row-cols-lg-4 row-cols-xl-6">
            {% for product in featured_beams %}
            <div class="col mb-4">
                <a href="{{ url_for('product', id = product.id) }}" class="card card-hover h-100">
                    <img src="{{ url_for('static', filename = 'content/' + product.preview_img_filename ) }}" class="card-img-top" alt="{{ product.name }}" >
                    <div class="card-body">
                        <img src="{{ url_for('static', filename = 'img/STEMFIE_favicon.svg' ) }}" alt="STEMFIE Logo" style="z-index: 1; width: 20px; height: 20px; margin-bottom: 6px;">
                        <h5 class="card-title" style="font-size: medium; color: black;">{{ product.name }}</h5>
                    </div>
                </a>
            </div>
            {% endfor %}
            <div class="col mb-4">
                <a href="{{ url_for('category', cat_name = 'Beams') }}" class="card h-100 more-field text-center p-4" style="text-decoration: none; color: black;">
                    <div style="margin: auto;">
                        <img src="{{ url_for('static', filename = 'img/more-opaque-stemfie.png' ) }}" style="width: 96px; height: 96px; " class="card-img-top" alt="More beams"><br>
                        More Beams
                    </div>      
                </a>
            </div>
        </div>
        <h2>Braces</h2>
        <p>Connect and support two or more blocks.</p>
        <div class="row row-cols-1 row-cols-md-3 row-cols-lg-4 row-cols-xl-6">
            {% for product in featured_braces %}
            <div class="col mb-4">
                <a href="{{ url_for('product', id = product.id) }}" class="card card-hover h-100">
                    <img src="{{ url_for('static', filename = 'content/' + product.preview_img_filename ) }}" class="card-img-top" alt="{{ product.name }}">
                    <div class="card-body">
                        <img src="{{ url_for('static', filename = 'img/STEMFIE_favicon.svg' ) }}" alt="STEMFIE Logo" style="z-index: 1; width: 20px; height: 20px; margin-bottom: 6px;">
                        <h5 class="card-title" style="font-size: medium; color: black;">{{ product.name }}</h5>
                    </div>
                </a>
            </div>
            {% endfor %}
            <div class="col mb-4">
                <a href="{{ url_for('category', cat_name = 'Braces') }}" class="card h-100 more-field text-center p-4" style="text-decoration: none; color: black;">
                    <div style="margin: auto;">
                        <img src="{{ url_for('static', filename = 'img/more-opaque-stemfie.png' ) }}" style="width: 96px; height: 96px; " class="card-img-top" alt="More Braces"><br>
                        More Braces
                    </div>      
                </a>
            </div>
        </div>
        <h2>Connectors</h2>
        <p>Join static or moving blocks together.</p>
        <div class="row row-cols-1 row-cols-md-3 row-cols-lg-4 row-cols-xl-6">
            {% for product in featured_connectors %}
            <div class="col mb-4">
                <a href="{{ url_for('product', id = product.id) }}" class="card card-hover h-100">
                    <img src="{{ url_for('static', filename = 'content/' + product.preview_img_filename ) }}" class="card-img-top" alt="{{ product.name }}">
                    <div class="card-body">
                        <img src="{{ url_for('static', filename = 'img/STEMFIE_favicon.svg' ) }}" alt="STEMFIE Logo" style="z-index: 1; width: 20px; height: 20px; margin-bottom: 6px;">
                        <h5 class="card-title" style="font-size: medium; color: black;">{{ product.name }}</h5>
                    </div>
                </a>
            </div>
            {% endfor %}
            <div class="col mb-4">
                <a href="{{ url_for('category', cat_name = 'Connectors') }}" class="card h-100 more-field text-center p-4" style="text-decoration: none; color: black;">
                    <div style="margin: auto;">
                        <img src="{{ url_for('static', filename = 'img/more-opaque-stemfie.png' ) }}" style="width: 96px; height: 96px; " class="card-img-top" alt="More Connectors"><br>
                        More Connectors
                    </div>      
                </a>
            </div>
        </div>
        <h2>Fasteners</h2>
        <p>Fasten blocks using threaded screws, nuts, rivets, wedges, etc.</p>
        <div class="row row-cols-1 row-cols-md-3 row-cols-lg-4 row-cols-xl-6">
            {% for product in featured_fasteners %}
            <div class="col mb-4">
                <a href="{{ url_for('product', id = product.id) }}" class="card card-hover h-100">
                    <img src="{{ url_for('static', filename = 'content/' + product.preview_img_filename ) }}" class="card-img-top" alt="{{ product.name }}">
                    <div class="card-body">
                        <img src="{{ url_for('static', filename = 'img/STEMFIE_favicon.svg' ) }}" alt="STEMFIE Logo" style="z-index: 1; width: 20px; height: 20px; margin-bottom: 6px;">
                        <h5 class="card-title" style="font-size: medium; color: black;">{{ product.name }}</h5>
                    </div>
                </a>
            </div>
            {% endfor %}
            <div class="col mb-4">
                <a href="{{ url_for('category', cat_name = 'Fasteners') }}" class="card h-100 more-field text-center p-4" style="text-decoration: none; color: black;">
                    <div style="margin: auto;">
                        <img src="{{ url_for('static', filename = 'img/more-opaque-stemfie.png' ) }}" style="width: 96px; height: 96px; " class="card-img-top" alt="More Fasteners"><br>
                        More Fasteners
                    </div>      
                </a>
            </div>
        </div>
        <h2>Plates</h2>
        <p>Use plates for creating two-dimensional structures.</p>
        <div class="row row-cols-1 row-cols-md-3 row-cols-lg-4 row-cols-xl-6">
            {% for product in featured_plates %}
            <div class="col mb-4">
                <a href="{{ url_for('product', id = product.id) }}" class="card card-hover h-100">
                    <img src="{{ url_for('static', filename = 'content/' + product.preview_img_filename ) }}" class="card-img-top" alt="{{ product.name }}">
                    <div class="card-body">
                        <img src="{{ url_for('static', filename = 'img/STEMFIE_favicon.svg' ) }}" alt="STEMFIE Logo" style="z-index: 1; width: 20px; height: 20px; margin-bottom: 6px;">
                        <h5 class="card-title" style="font-size: medium; color: black;">{{ product.name }}</h5>
                    </div>
                </a>
            </div>
            {% endfor %}
            <div class="col mb-4">
                <a href="{{ url_for('category', cat_name = 'Plates') }}" class="card h-100 more-field text-center p-4" style="text-decoration: none; color: black;">
                    <div style="margin: auto;">
                        <img src="{{ url_for('static', filename = 'img/more-opaque-stemfie.png' ) }}" style="width: 96px; height: 96px; " class="card-img-top" alt="More Plates"><br>
                        More Plates
                    </div>      
                </a>
            </div>
        </div>
        <h2>Springs</h2>
        <p>Add and retain force in your projects using linear and rotational springs.</p>
        <div class="row row-cols-1 row-cols-md-3 row-cols-lg-4 row-cols-xl-6">
            {% for product in featured_springs %}
            <div class="col mb-4">
                <a href="{{ url_for('product', id = product.id) }}" class="card card-hover h-100">
                    <img src="{{ url_for('static', filename = 'content/' + product.preview_img_filename ) }}" class="card-img-top" alt="{{ product.name }}">
                    <div class="card-body">
                        <img src="{{ url_for('static', filename = 'img/STEMFIE_favicon.svg' ) }}" alt="STEMFIE Logo" style="z-index: 1; width: 20px; height: 20px; margin-bottom: 6px;">
                        <h5 class="card-title" style="font-size: medium; color: black;">{{ product.name }}</h5>
                    </div>
                </a>
            </div>
            {% endfor %}
            <div class="col mb-4">
                <a href="{{ url_for('category', cat_name = 'Springs') }}" class="card h-100 more-field text-center p-4" style="text-decoration: none; color: black;">
                    <div style="margin: auto;">
                        <img src="{{ url_for('static', filename = 'img/more-opaque-stemfie.png' ) }}" style="width: 96px; height: 96px; " class="card-img-top" alt="More Springs"><br>
                        More Springs
                    </div>      
                </a>
            </div>
        </div>
        <h2>Shafts</h2>
        <p>Connect blocks through holes allowing for linear or static motion.</p>
        <div class="row row-cols-1 row-cols-md-3 row-cols-lg-4 row-cols-xl-6">
            {% for product in featured_shafts %}
            <div class="col mb-4">
                <a href="{{ url_for('product', id = product.id) }}" class="card card-hover h-100">
                    <img src="{{ url_for('static', filename = 'content/' + product.preview_img_filename ) }}" class="card-img-top" alt="{{ product.name }}">
                    <div class="card-body">
                        <img src="{{ url_for('static', filename = 'img/STEMFIE_favicon.svg' ) }}" alt="STEMFIE Logo" style="z-index: 1; width: 20px; height: 20px; margin-bottom: 6px;">
                        <h5 class="card-title" style="font-size: medium; color: black;">{{ product.name }}</h5>
                    </div>
                </a>
            </div>
            {% endfor %}
            <div class="col mb-4">
                <a href="{{ url_for('category', cat_name = 'Shafts') }}" class="card h-100 more-field text-center p-4" style="text-decoration: none; color: black;">
                    <div style="margin: auto;">
                        <img src="{{ url_for('static', filename = 'img/more-opaque-stemfie.png' ) }}" style="width: 96px; height: 96px; " class="card-img-top" alt="More Shafts"><br>
                        More Shafts
                    </div>      
                </a>
            </div>
        </div>
        <h2>Tools</h2>
        <p>Connect, measure, store, and process SEMFIE blocks.</p>
        <div class="row row-cols-1 row-cols-md-3 row-cols-lg-4 row-cols-xl-6">
            {% for product in featured_tools %}
            <div class="col mb-4">
                <a href="{{ url_for('product', id = product.id) }}" class="card card-hover h-100">
                    <img src="{{ url_for('static', filename = 'content/' + product.preview_img_filename ) }}" class="card-img-top" alt="{{ product.name }}">
                    <div class="card-body">
                        <img src="{{ url_for('static', filename = 'img/STEMFIE_favicon.svg' ) }}" alt="STEMFIE Logo" style="z-index: 1; width: 20px; height: 20px; margin-bottom: 6px;">
                        <h5 class="card-title" style="font-size: medium; color: black;">{{ product.name }}</h5>
                    </div>
                </a>
            </div>
            {% endfor %}
            <div class="col mb-4">
                <a href="{{ url_for('category', cat_name = 'Tools') }}" class="card h-100 more-field text-center p-4" style="text-decoration: none; color: black;">
                    <div style="margin: auto;">
                        <img src="{{ url_for('static', filename = 'img/more-opaque-stemfie.png' ) }}" style="width: 96px; height: 96px; " class="card-img-top" alt="More Tools"><br>
                        More Tools
                    </div>      
                </a>
            </div>
        </div>
    </div>
</div>

{% endblock content %}
<!-- Scripts -->
{% block scripts %}
<script>
    // When the user clicks on the button, scroll to the top of the document
    function ScrollToTop() {
        window.scrollTo({top: 0,behavior: "smooth"});
    } 

    const navEl = document.querySelector('.navbar');
    navEl.classList.add('navbar-not-scrolled');
    window.addEventListener('scroll', () => {
        if (window.scrollY >= 1) {
            navEl.classList.add('navbar-scrolled');
            navEl.classList.remove('navbar-not-scrolled');
        } else if (window.scrollY < 1) {
            navEl.classList.add('navbar-not-scrolled');
            navEl.classList.remove('navbar-scrolled'); 
        }
    });
</script>
{% endblock scripts %}