<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>{{ product.name }} | STEMFIE</title>
<link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet">
<!-- Bootstrap CSS -->
<link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}">
<!-- Favicon -->
<link rel="icon" type="image/png" sizes="48x48" href="{{ url_for('static', filename='img/STEMFIE_favicon.svg') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='bootstrap-icons.css') }}">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
</head>

<body>
<style>
.btn-stemfie {
    background-color: #ff7f2a;
    color: white;

}

.btn-stemfie:hover {
    background-color: #fd6c0b;
    color: white;
}
</style>

    
<!-- Header -->
<!-- Navbar-->
<nav class="navbar navbar-light theme-color-custom fixed-top" style="height: 64px;">
    <a class="ml-1" href="{{ url_for('home') }}" style="font-weight: 600; position: absolute; left: 12px; top: 10px; z-index: 10;">
        <img src="{{ url_for('static', filename='/img/STEMFIE_Logo_Horzontal.svg') }}" height="30" class="d-inline-block pr-1" style="float:left; margin-top: 7px;" alt="STEMFIE"></img>
    </a>
    <div style="margin-left: auto; margin-right: 0; ">
        <a href="{{ url_for('howto') }}"><button type="button" class="btn btn-outline-secondary">How it works</button></a>
    </div> 
</nav>

<!-- Control bar bottom -->
<div class="container-fluid px-0" style="position: absolute; bottom: 0px; height:70px;">
    <div class="container col-md-10 col-lg-10 col-xl-8 p-0" style="height:100%; background-color: #dbdbdb; border-radius: 10px 10px 0px 0px; border-top: 1px solid #e7e7e7; border-right: 1px solid #e7e7e7; border-left: 1px solid #e7e7e7; box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.1);">
        <div class="row p-0 m-0">
            <span class="p-2 px-4" style="max-width: calc(100% - 70px); flex-grow: 1; font-size: larger; font-weight: 600; position: relative; bottom: 0px; top: 0px; margin-top: auto; margin-bottom: auto;">
                {{ product.name }}
            </span>
            <div type="button" data-toggle="modal" data-target="#shareModal" class="d-flex share-button" style="justify-content: center; align-items: center; border-radius: 0px 10px 0px 0px; border-left: 1px solid #a3a3a3;">
                <a class="px-3 py-2" style="text-decoration: none; color: black;" href="{{ url_for('static', filename='/content/' + product.download_3d_filename) }}">
                    <div class="pt-1" style="display: flex; justify-content: center; align-items: center;">
                        <img src="{{ url_for('static', filename='/img/download-stemfie.png') }}" style="width: 1.8rem; height: 1.8rem;">
                    </div>
                    <div style="font-size: small;">Download</div>
                </a>     
            </div>    
        </div> 
    </div>    
</div>

<!-- Share Modal -->
<div class="modal fade" id="shareModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel" style="font-weight: 600;">Congratulations!</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="modalbody">                      
                <div class="pb-3" style="margin:auto;">
                    <img src="{{ url_for('static', filename='/img/STEMFIE_Logo_Horzontal.svg') }}" height="50" class="mb-3"alt="STEMFIE"></img>
                    <div>Your block is downloading...</div>
                </div>
                <a href="{{ url_for('howto') }}" style="" class="mb-5 pb-5">What's next?</a>
                <div class="input-group mb-2 mt-3">
                    <div class="input-group-prepend">
                        <button class="btn btn-lg btn-stemfie" onclick="toClipoard('{{ domain + '/blocks/' + str(product.id) }}')" type="button" id="button-addon1"><i class="bi bi-clipboard pr-2" style="float: left;"></i>Copy</button>
                    </div>
                    <div type="text" id="url-field" class="form-control form-control-lg " aria-label="Example text with button addon" aria-describedby="button-addon1" style="text-overflow: ellipsis; white-space: nowrap; overflow: hidden; border-color: #ff7f2a; color:#ff7f2a; font-size: small; height: 3rem; padding-top: 0.8rem; padding-bottom: 0.8rem;">{{ domain + '/blocks/' + str(product.id)}}</div>
                </div>
                <a type="button" class="btn btn-outline-dark btn-lg btn-block fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u={{ domain + '/blocks/' + str(product.id) }}">
                    <i class="bi bi-facebook" style="float: left;"></i>
                    Share on Facebook
                </a>    
                <a type="button" class="btn btn-outline-dark btn-lg btn-block" target="_blank" href="https://www.linkedin.com/shareArticle?mini=true&url={{ domain + '/blocks/' + str(product.id) }}">
                    <i class="bi bi-linkedin" style="float: left;"></i>
                    Share on LinkedIn
                </a>   
                <a type="button" class="btn btn-outline-dark btn-lg btn-block twitter-share-button" target="_blank" href="https://twitter.com/intent/tweet?url={{ domain + '/blocks/' + str(product.id) }}">
                    <i class="bi bi-twitter" style="float: left;"></i>
                    Share on Twitter
                </a>   
            </div>
        </div>
    </div>
</div>

<script src="{{ url_for('static', filename='jquery-3.5.1.slim.min.js') }}"></script>
<script src="{{ url_for('static', filename='bootstrap.bundle.min.js') }}"></script>  
<script type="text/javascript">
    var URL_OF_STL_MODEL_FILE = "{{ url_for('static', filename='content/' + product.preview_3d_filename) }}";
</script>
<script id="helper" type="module" src="{{ url_for('static', filename='app.js') }}"></script>

<!-- Share functionality -->
<script>
function toClipoard(text) {
    if ("clipboard" in navigator && typeof navigator.clipboard.writeText === "function") {
    // Chrome
    return navigator.clipboard.writeText(text)
        .then(() => true)
        .catch(() => false);
    } else {
    // Firefox
    const input = document.createElement("input");
    input.value = text;
    input.style.position = "fixed";
    input.style.top = "-2000px";
    document.body.appendChild(input);
    input.select();
    try {
        return Promise.resolve(document.execCommand("copy"))
        .then(res => {
            document.body.removeChild(input);
            return res;
        });
    } catch (err) {
        return Promise.resolve(false);
    }
    }   
}
</script>

</body>
</html>